---
layout: default
title: Home
---

<header> 
 
  <div class="header center"> 
  <!-- <img class="main-pic" src="assets/main.jpeg" title="pic" alt="johan"> -->
  <div class= "text-box">
  <h3 class= "name center" >{{ "johan gace." | upcase }}</h3>
  <!-- <h1 class= "kicker center">{{ "I craft digital experiences." | capitalize }}</h1> -->
  <h1>
      <a href="" class="kicker typewrite" data-period="1000" data-type='[ "I am a Web Developer.", "I craft Digital Experiences.", "I Love to design & make things."]'>
        <span class="wrap"></span>
      </a>
    </h1>

  </div>
</div> 
</header>

<!-- {% for post in site.posts limit:3 %}
    <li >
      <div class="blog-container">
       <a href="{{ post.url }}" > <img class="blog-pic"  src="{{ post.image| prepend: site.baseurl }}"  alt="{{ post.title }}" title="{{ post.title }}"></a>
        <div class="blog-description">
      <h2 class="post-title"> <a   href="{{ post.url }}">{{ post.title }}</a></h2> 
      </div>
      </li>
      {% endfor %} -->
    
      <!-- <div class="projects-container"> 
          {% for post in site.posts limit:3 %}
            <li  class="project-card"> -->
                <!-- <a class="lay project-name" href="{{ post.url }}"> <h1>{{ post.title }} </h1></a>    -->
              <!-- <div > 
             <a href="{{ post.url }}" > <img class="projects-pic"  src="{{ post.image| prepend: site.baseurl }}"  alt="{{ post.title }}" title="{{ post.title }}"></a>
             <h1 class=" lay proj-name">{{ post.title }} </h1> -->
           
              <!-- <span>{{ post.date | date_to_string }}</span> &nbsp;  -->
             
             <!-- <a class="overlay project-name" href="{{ post.url }}"> <h1>{{ post.title }} </h1><p> {{ post.excerpt}} </p></a>
            </div>
            
           
          {% endfor %}
          </div> -->
         
          
   <!-- <div class="squares"> 
    <div class="square-small square1">
      
      <h1>Works</h1>
    </div>
    <div class="square-small square2">
      <h1>Blog</h1>
    </div>
    <div class="square-big square3">
        <h1>About</h1>
      </div>
  </div>  -->


<!-- 
<div class="center footer"> 

  </div> --> 
