<div class=" container challenge-container">


  <div id="gr_challenge_8863" style=" padding:  max-width:500px; min-height: 150px">
    <div id="" style="font-size: 1.2rem; font-family: georgia,serif;line-height: 18px">
      <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
        <a href="https://www.goodreads.com/challenges/8863-2019-reading-challenge" rel="nofollow" style="text-decoration: none;  color: gray; font-weight: 500; font-size: 2rem">
          My 2019 Reading Challenge</a>
      </h3>
      <div class="challengePic">
        <a href="https://www.goodreads.com/challenges/8863-2019-reading-challenge" rel="nofollow"><img alt="2019 Reading Challenge" src="https://images.gr-assets.com/challenges/1542320733p2/8863.jpg" style="float:left; margin-right: 10px; border: 0 none"/></a>
      </div>
      <div>
        <a href="https://www.goodreads.com/user/show/33277000-johan" rel="nofollow">Johan</a>
        read 42 books toward
        									 his goal of
        									 50 books.
      </div>
      <div style="width: 100px; margin: 10px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
        <div style="width: 57%; background-color: #D7D2C4; float: left">
          <span style="visibility:hidden">hide</span>
        </div>
      </div>
      <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
        <a href="https://www.goodreads.com/user_challenges/14774236" rel="nofollow">42 of 50 (84%)</a>
      </div>
      <div style="text-align: right;">
        <a href="https://www.goodreads.com/user_challenges/14774236" rel="nofollow" style="text-decoration: none; font-size: 1.1rem;">view books</a>
      </div>
    </div>
    <script src="https://www.goodreads.com/user_challenges/widget/33277000-johan?challenge_id=8863&v=2"></script>
  </div>

</div>
