.recommended {
  font-size: 2rem;
  color: gray;
  margin: 2% auto auto 10%;
}

.books-container {
  width: 90%;
  height: 80%;
  display: flex;
  place-items: center;
  // margin: 20% auto 0 0%;
  margin-left: 10%;
  overflow: auto;
}
.gr_grid_book_container:hover {
  -webkit-transform: scale(1.15);
  transition: 0.4s;
  opacity: 1;
}
.book-pic img {
  text-align: center;
  display: flex;
  margin: 10px 11px 0px 10px;
}

.book-pic:hover img {
  -webkit-transform: scale(1.04);
  transition: 0.4s;
  opacity: 1;
  filter: brightness(90%);
}

.book-card {
  height: 450px;
}

.book-title {
  text-align: center;
  font-size: 1.1rem;
}

.book-author {
  text-align: center;
}

.allbooks-container {
  margin: 2% auto auto 8%;
  display: flex;
}

.challenge-container {
  margin: 5% 2% 2% 9.5%;
  display: flex;
}

.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 110px;
  height: 160px;
  padding: 0px 0px;
  overflow: hidden;
}

@media screen and (max-width: 1220px) {
  .books-container,
  .allbooks-container {
    margin-left: 25%;
  }

  .recommended,
  .challenge-container {
    margin: 10% auto auto 25%;
  }
}
