.kicker {
font-size: 5rem;
font-weight: 600;
text-decoration: none;
color:#2C2C2C;

}

.name {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  
}

.header {
  margin-top: 15vh;
  height: 70vh;
 
}

.footer{

  background: black;
  margin-top: 25vh;
  height: 30vh;
}

 
@media screen and (max-width:970px) { 

.name {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1rem; 
  
}

.kicker {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color:#2C2C2C;
  }
}



