.current {
  color: gray;
}



// Navbar side
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 12vh;
  font-weight: bold;
}

.sidenav a {
  padding: 8px 8px 17px 32px;
  text-decoration: none;
  font-size: 2rem;
  color: #818180;
  display: block;
  transition: 0.3s;
  font-weight: 400;
}

.sidenav a:hover {
  color:  white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
