.post-container {
  margin-top: 10vh;
}

.posts-title{
  font-size: 4rem;
  text-align: center;
}

.content {
  font-size: 1rem;
  padding: 2vh;
  margin: 0 20vh;
}
.post-video {
  height: 500px;
  width: 700px;
}

@media screen and (max-width:970px) { 
  .content {
    font-size: 1rem;
    padding: 1vh;
    margin: 0 10vh;
  }
  .post-video {
    height: 300px;
    width: 400px;
  }
}
