<!doctype html>
<html>
  <head>
    <title> Johan Gace  {% if page.layout != "post" and page.title != "Home" %}
        <h3 class="page-title">{{ page.title | upcase  }}</h3>
        {%endif%} </title>
    <!-- <meta charset="utf-8"> -->

    <meta content= "Personal Website of Johan Gace, Miami based Web Developer." name="{{ page.title }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="{{ base.url | prepend: site.url }}/assets/js/scripts.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Gayathri:100,400,700|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/38c74bd593.js"></script>


  </head>
  <body>
      
    {% include navigation.html %}
   

    {% if  page.title == "Home" %}
    <span style= " font-size:2rem; cursor:pointer; font-weight: light; margin: 3%; " onclick="openNav()">&#9776; Open</span>
    {% else %}
    <span style= "font-size:2rem; cursor:pointer; font-weight: light; letter-spacing: 1rem; margin: 3%; " onclick="openNav()">&#9776; JOHAN GACE.</span>
    {%endif%}

    {% if page.layout != "post" and page.title != "Home" %}
    <h3 class="page-title">{{ page.title | upcase  }}</h3>
    {%endif%}



    {{ content }}

  </body>
</html>

