---
layout: default
---
<div class="post-container"> 
<h1 class="posts-title">{{ page.title }}</h1>

    <div class="post-categories center ">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>

<p class="content"> {{ page.date | date_to_string }} </p>
<div class="content"> {{ content }} </div>
</div>
